@media only screen and (max-width: 768px) {
    header { display: none;}
    article { display: inherit}
}

@media only screen and (max-width: 568px) {
    .para1, .para2, .para3 {
        background-attachment: scroll;
    }
}

.sticky-header {
    padding-left: 0;
    list-style-type: none;
    /* width: 90%; */
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.sticky-menu {
    padding: 12px 8px;
}

.sticky-menu:hover {
    background: white;
    border-bottom: 4px solid rgba(40, 65, 207, 0.7);
}

.sticky-header-sns {
    padding: 13px 4px;
    list-style-type: none;
    /* width: 90%; */
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}


/* li {
    padding: 0 8px;
} */

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: rgba(40, 65, 207, 0.8);
    color: #0d77be;
    
}

/**
*  Hamburger Menu 
**/


@media only screen and (min-width: 768px) {
    .menu-wrap { display: none;}
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* moves the line down */
.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}


.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    /* transform: scale(1); */
    transform: translate(0);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    /* border-radius: 50%; */
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: translate(-1500px);
    /* transform: scale(0); */
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.2s;
}

.menu-wrap .menu > div > div > ul > li:hover {
    opacity: 0.4;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
} 

